.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 30vw;
  height: 60vh;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border: 30px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
.btn-container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transform-origin: center;
}
.image-rotate {
  transform: rotate(-45deg);
}
img{
  width: 50%;
}
.softImg{
  width: 70%
}
.angularImg{
  width: 40%;
}
.btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
}
.bgMenu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgHtml{
  background-color: rgba(255,109,0);
  background-image: radial-gradient(rgba(255, 0, 0, 0.496), transparent);
  background-size: 5px 5px;
  border: dotted 2px rgba(255,109,0);
  animation: yellow-animation infinite;
  box-shadow:
      0 0 20px #111 inset,
      0 0 10px rgba(255,109,0);
  animation: yellow-animation infinite;
  opacity: 1;
}

.bgHtml:hover, .bgCss:hover,
.bgJs:hover, .bgAngular:hover,
.center-circle:hover{
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3),
                0 0 30px rgba(255, 255, 255, 0.3),
                0 0 40px rgba(255, 255, 255, 0.3);
}
.bgCss{
  background-color: rgb(3,155,229);
  background-image: radial-gradient(rgba(0, 0, 255, 0.745), transparent);
  background-size: 5px 5px;
  border: dotted 2px rgb(3,155,229);
  animation: yellow-animation infinite;
  box-shadow:
      0 0 20px #111 inset,
      0 0 10px rgb(3,155,229);
  animation: yellow-animation infinite;
  opacity: 1;
}

.bgJs{
  background: yellow;
  background-image: radial-gradient(orange, transparent);
  background-size: 5px 5px;
  border: dotted 2px yellow;
  animation: yellow-animation infinite;
  box-shadow:
      0 0 20px #111 inset,
      0 0 10px yellow;
  animation: yellow-animation infinite;
  opacity: 1;
}
.bgAngular{
  background-color: rgb(179,21,35);
  background-image: radial-gradient(rgba(255, 0, 0, 0.872), transparent);
  background-size: 5px 5px;
  border: dotted 2px rgb(179,21,35);
  animation: yellow-animation infinite;
  box-shadow:
      0 0 20px #111 inset,
      0 0 10px rgb(179,21,35);
  animation: yellow-animation infinite;
  opacity: 1;
}
.center-circle {
  position: absolute;
  width: 40%;
  height: 40%;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

